<h2>Variables</h2>
Variables are containers used to store values
A variable has no command for its declaration

In [1]:
# Variable

x = 2
y = 4
print(x,y)
print('23 the #@')

2 4
23 the #@

Rules for declaring a variable:-
1. start with a letter or _
2. Variable name cannot start with a number
3. Contain alpha-numeric characters
4. Case-Sensitive
5. cannot be python keywords(Some reserved words)

In [2]:
myvar = 'Good'
_abc = 25
# 4abc = "Morning"
xyz34 = "How are you?"
x3y8z = "How are you?"

XYZ = 67
xyz = 89
print(xyz)

89

In [3]:
import keyword
a = keyword.kwlist
print(a)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
# Python Keywords can not assigned as variables
False = 67
print(False)

SyntaxError: cannot assign to False (3269114281.py, line 2)

In [5]:
return = "Hello"
print(return)

SyntaxError: invalid syntax (1122657458.py, line 1)

<h2>Python Data Types</h2>

In [6]:
myVar = "Good Morning"

In [7]:
# Integer -> positive or negative whole numbers
a = 56
b = -98
print(a,b)
print(type(a))
print(type(b))

56 -98
<class 'int'>
<class 'int'>

In [8]:
#Float
z = 22.5
y = 45.6789
x = -89.765
print(type(z))
print(type(y))
print(type(x))

<class 'float'>
<class 'float'>
<class 'float'>

In [9]:
#Complex- numbers -> specified as (real part) + (imaginary part)j
num = 3 + 4j
print(type(num))

<class 'complex'>

<h4>Boolean</h4>
two built-in values ->True and False

In [11]:
5>1

True

In [12]:
67<2

False

In [13]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [14]:
a = "Hello"
b = 'Munna'
# num = 23
num = '23'
s = '$#@!'
print(type(a))
print(type(b))
print(type(num))
print(type(s))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
para = "My name is Munna"
print(para)
print(type(para))

My name is Munna
<class 'str'>

In [16]:
para1 = """If you want to learn Python for free with a well-organized, step-by-step tutorial,
you can use our free Python tutorials.
Our tutorials will
guide you through Python one step at a time,
using practical examples to strengthen your foundation."""

print(para1)

If you want to learn Python for free with a well-organized, step-by-step tutorial,
you can use our free Python tutorials.
Our tutorials will
guide you through Python one step at a time,
using practical examples to strengthen your foundation.

In [17]:
var ="""If you want to learn Python for free with a well-organized,
step-by-step tutorial, you can use our free Python tutorials. 
Our tutorials will guide you through Python one step at a time,
using practical examples to strengthen your foundation."""
print(var)

If you want to learn Python for free with a well-organized,
step-by-step tutorial, you can use our free Python tutorials.
Our tutorials will guide you through Python one step at a time,
using practical examples to strengthen your foundation.

In [18]:
str = "Hello  World"
l = len(str)
print(l)

12

<h4>Slicing</h4>
returns a range of characters by using slice syntax

In [19]:
#Positive indexing
# H e l l o
# 0 1 2 3 4
# [start:end+1] -> range

str = "Hello,World"
print(str[1])
print(str[5])
print(str[1:5])
print(str[1:])
print(str[:6+1])
print(str[:])
print(str[::-1])#Reversing a string

e
,
ello
ello,World
Hello,W
Hello,World
dlroW,olleH

In [20]:
str = "Hello"
print(str[1:8])

ello

In [21]:
str = "Hello! Have a good day ahead"
str[2:-4]
str[::-1]

'daeha yad doog a evaH !olleH'

In [22]:
str = "Rahul"
age = 45
print("My name is ",str,"Age is",age)

My name is  Rahul Age is 45

In [23]:
#String Formatting
str = "Rahul"
age = 45
print(f"My name is {str} Age is {age}")

My name is Rahul Age is 45

In [24]:
name1 = "Rahul"
age1 = 45
print(f"The name is {name1} and age is {age1}")

The name is Rahul and age is 45

In [25]:
#String Function

a = "heLLo, World"
print(a.upper())

HELLO, WORLD

In [27]:
print(a.lower())

hello,world,have,a,good,day

In [28]:
a = "heLLo, WorldO"
print(a.replace('o','J'))

heLLJ, WJrldO

In [29]:
a = "    heLLo, World     "
print(a)
print(a.strip())

    heLLo, World
heLLo, World

In [26]:
a = "heLLo,World,Have,a,good,day"
print(a.split(','))

['heLLo', 'World', 'Have', 'a', 'good', 'day']

In [31]:
a = "heLLoRWorldRHaveRaRgoodRday"
print(a.split('R'))

['heLLo', 'World', 'Have', 'a', 'good', 'day']

In [32]:
a = "heL LoWorld Have,a,good,day"
print(a.split(' '))

['heL', 'LoWorld', 'Have,a,good,day']

In [33]:
#Check morefunctions count,capitalize etc....

In [34]:
a = "heLLo, World"
index = a.find('e')
print("The index is ",index)
print(f"The index is {index}")

The index is  1
The index is 1

<h2>Type conversion</h2>

In [35]:
num = int(2.8)
print(num)
print(type(num))

2
<class 'int'>

In [36]:
num1 = float(3)
print(num1)
print(type(num1))

3.0
<class 'float'>

In [37]:
x = int("34")
print(x)
print(type(x))

34
<class 'int'>

In [38]:
num = str(3.89)
print(type(num))

TypeError: 'str' object is not callable

<h2>Operators</h2>
symbols that perform some operations on values

<h4>Arthematic Operators</h4>

+,-,/,*

// ->Floor division

% -> Modulus

** ->Exponential

In [39]:
a = 29
b = 2
print(int(a/b))
print("This is floor division",a//b)

14
This is floor division 14

In [40]:
a = 29
b = 3
print(a%b)

2

In [41]:
print(3**3)

27

<h4>Comparison Operator</h4>
<,>,<=,>=,!=,==

Always returns ans in Boolean

In [42]:
print(23 != 23)

False

<h4>Logical Operators</h4>
And or not

In [43]:
a = 10
b = 20
c = 30

print(a > b and a < c)
print(a > b or a < c)

False
True

In [44]:
a = False
print(not a)

True

<h4>Membership Operator</h4>
in , not in

In [46]:
a = [10,20,30,40,50]
print(20 in a)
print(20 not in a)

True
False

<h4>Increment Decrement</h4>

In [47]:
i = 1
i+=1
print(i)

2

In [48]:
i= 10
i-=3
print(i)

7

<h4>List data Type</h4>
collection of multiple data types

ordered ,chanegable, allow duplicates

In [49]:
# a = [10,20,30,40,50]

myVar = [10,23.56,True,"Hello",10,"Hello",10]
print(myVar)
print(type(myVar))

[10, 23.56, True, 'Hello', 10, 'Hello', 10]
<class 'list'>

In [50]:
str = "Hello"
str[2]
print(str[-1])

o

In [51]:
a = [10,20,30,40,50]
a[2]

30

In [52]:
li = [10,23.56,True,"Hello",20,30,40,50]
print(li[2])
print(li[3])
print(li[-1])
print(li[-2:])
print(li[-7:3])
print(li[::-1])

True
Hello
50
[40, 50]
[23.56, True]
[50, 40, 30, 20, 'Hello', True, 23.56, 10]

In [53]:
li = [10,20,30,40,50,60,70,80,90]
li[-8:3]

[20, 30]

In [54]:
li =['apple','banana','grapes']
li

['apple', 'banana', 'grapes']

In [55]:
li =['apple','banana','grapes']
li[1] = 'cherry'
li[2] = 34
print(li)

['apple', 'cherry', 34]

<h4>Function of list</h4>

In [56]:
li =['apple','banana','grapes']
li.insert(1,'watermelon')
li

['apple', 'watermelon', 'banana', 'grapes']

In [57]:
li =['apple', 'watermelon', 'banana', 'grapes']
li.append("cherry")#adds to the end of list
li

['apple', 'watermelon', 'banana', 'grapes', 'cherry']

In [58]:
li = ['apple', 'watermelon', 'banana', 56, 'cherry']
li.remove(56)
li

['apple', 'watermelon', 'banana', 'cherry']

In [59]:
#pop()->By default removes the last element
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.pop(3)
li

['apple', 'watermelon', 'banana', 'cherry']

In [60]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.pop()
li

['apple', 'watermelon', 'banana', 'grapes']

In [61]:
#sort()
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.sort()
li

['apple', 'banana', 'cherry', 'grapes', 'watermelon']

In [62]:
li =[10,45,23,67,78.9,34.67]
li.sort()
li

[10, 23, 34.67, 45, 67, 78.9]

In [63]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.sort(reverse =True)
li

['watermelon', 'grapes', 'cherry', 'banana', 'apple']

In [64]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry','apple','apple']
c = li.count('apple')
c

3

In [65]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry','apple','apple']
li.clear()
li

[]

In [66]:
li = [1,2,23,4,5,7,[10,20,30]]#Nested List
li[-1]

[10, 20, 30]

In [67]:
li = [1,2,3,[10,20,30],23,67,['a','b','c']]
li[-1][0:2]

['a', 'b']

In [68]:
li =[10,20,40,20,10,20,20,20]
print(li.count(20))

5

In [69]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.pop(1)
li

['apple', 'banana', 'grapes', 'cherry']

In [70]:
li = ['apple', 'watermelon', 'banana', 'grapes', 'cherry']
li.remove('watermelon')
li

['apple', 'banana', 'grapes', 'cherry']

In [71]:
li = ['apple', 'watermelon', 'banana']
li.extend(['grapes', 'cherry'])
li

['apple', 'watermelon', 'banana', 'grapes', 'cherry']

In [72]:
li=[1,2,3,[10,20,30],23,67,['a','b','c']]
li[6][0]

'a'

<h4>Tuples</h4>
ordered, unchangeable and allow duplicates

In [73]:
tup = (10,20,30,"apple",34.67,False)
print(tup)
print(type(tup))

(10, 20, 30, 'apple', 34.67, False)
<class 'tuple'>

In [74]:
tup = (10,20,30,"apple",'apple',10,10)
print(tup)
tup[3]

(10, 20, 30, 'apple', 'apple', 10, 10)

'apple'

In [75]:
tup = (10,20,30,"apple",'apple',10,10)
tup[3] = 45
tup

TypeError: 'tuple' object does not support item assignment

In [76]:
tup = (10,20,30,40,50,60,70,80)
tup[2:5]
tup[::-1]

(80, 70, 60, 50, 40, 30, 20, 10)

In [77]:
tup = (10,20,30,40,50,60,70,80)
li = list(tup)
print(li)
print(type(li))

li[3] = 'Good'
print(li)

tup =tuple(li)
print(tup)
print(type(tup))

[10, 20, 30, 40, 50, 60, 70, 80]
<class 'list'>
[10, 20, 30, 'Good', 50, 60, 70, 80]
(10, 20, 30, 'Good', 50, 60, 70, 80)
<class 'tuple'>

<h4>Tuples method</h4>

In [78]:
#count()->count number of occurrences of a value

tup = (10,20,30,40,50,60,10,20,30,20,20)
tup.count(20)

#index -> return the index value of the 1st occuring element
tup1=(10,20,30,40,50,60,10,40,20)
i = tup1.index(40)
print(i)

tup1 =(10,20,30)
tup2 =(40,50)
newTup = tup1 + tup2
print(newTup)

3
(10, 20, 30, 40, 50)

In [79]:
#nested Tuple
tup = (10,20,30,40,50,60,(10,20,30),(20,20))
tup[6][1:]

(20, 30)

<h4>Set</h4>
unordered, unchangeable and do not allow duplicates

In [80]:
s1 = {10,20,'apple',False,87.98,10}
print(s1)
print(type(s1))

{False, 20, 87.98, 'apple', 10}
<class 'set'>

In [81]:
s1 = {10,20,'apple',87.98}
s1[2]=78
s1

TypeError: 'set' object does not support item assignment

In [82]:
s1 = {10,20,30,40,50}
#add -> adds a single element to set
s1.add('apple')
s1

{10, 20, 30, 40, 50, 'apple'}

In [83]:
#update()->
s1 = {10,20,30,40,50}
s1.update({'grapes','hello',23})
s1

{10, 20, 23, 30, 40, 50, 'grapes', 'hello'}

In [84]:
#Union -> return new set with all items from both the set without repeating
s1 = {10,20,30,40,50}
s2 = {20,60,70,30}
s3 = s1.union(s2)
s3

{10, 20, 30, 40, 50, 60, 70}

In [85]:
#Intersection ->common elements from all the sets
s1 = {10,20,30,40,50}
s2 = {20,60,70,30}
s3 = s1.intersection(s2)
s3

{20, 30}

In [86]:
#Difference ->items present in 1st set which are not present in the other set
s1 = {10,20,30,40}
s2 = {30,40,50,60}
dif = s1.difference(s2)
dif

{10, 20}

In [87]:
s1 = {10,20,30,40}
s2 = {30,40,50,60}
s3 = {70,80,50}
dif = s2.difference(s1)
s4 = dif.difference(s3)
s4

{60}

<h2>Dictionary</h2>
key: value

ordered, changeable, do not allow duplicates

In [89]:
dict = {
    'name':'Rahul',
    'age':34
}
print(dict)
print(type(dict))

{'name': 'Rahul', 'age': 34}
<class 'dict'>

In [90]:
dict = {
    'name':'Rahul',
    'age':34
}
dict['name']

'Rahul'

In [91]:
dict = {
    'name':'Rahul',
    'age':34
}
dict['name'] = 'Revardhan'
dict

{'name': 'Revardhan', 'age': 34}

In [92]:
dict = {
    'name':'Rahul',
    'age':34,
    'name':'Tushar',
    'address':'AA'
}
dict

{'name': 'Tushar', 'age': 34, 'address': 'AA'}

In [93]:
dict ={
'name': 'Tushar',
    'age': 34,
    'address': 'AA',
    'abc23':'hello',
    23:'everyone'
}
dict

{'name': 'Tushar',
 'age': 34,
 'address': 'AA',
 'abc23': 'hello',
 23: 'everyone'}

In [94]:
dict = {
    'name':'Rahul',
    'age':'Rahul',
    'address1':['AA','BB','CC'],
    'address2':['AA','BB','CC'],
    # (10,20) : 'Tuple',
    
}
dict

{'name': 'Rahul',
 'age': 'Rahul',
 'address1': ['AA', 'BB', 'CC'],
 'address2': ['AA', 'BB', 'CC']}

In [95]:
#get
dict = {
    'name':'Rahul',
    'age':34,
    'color':'black'
}
print(dict.get('color'))

black

In [96]:
#update()->
dict = {
    'name':'Rahul',
    'age':34,
    'color':'black'
}
new ={'year':1997,'country':'India'}
dict.update(new)
print(dict)

{'name': 'Rahul', 'age': 34, 'color': 'black', 'year': 1997, 'country': 'India'}

In [97]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict.update({"age": 26, "country": "USA"})
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [98]:
#pop
dict = {
    'name':'Rahul',
    'age':34,
    'color':'black',
    'city': 'New York',
    'country': 'USA'
}
dict.pop('city')
dict

{'name': 'Rahul', 'age': 34, 'color': 'black', 'country': 'USA'}

In [99]:
#keys() ->returns a list of keys
abc = {
    'name':'Rahul',
    'age':34,
    'color':'black',
    'city': 'New York',
    'country': 'USA'
}
li =abc.keys()
print(li)

dict_keys(['name', 'age', 'color', 'city', 'country'])

In [100]:
abc = {
    'name':'Rahul',
    'age':34,
    'color':['black','white','grey'],
    'city': 'New York',
    'country': 'USA'
}
abc.values()

dict_values(['Rahul', 34, ['black', 'white', 'grey'], 'New York', 'USA'])

In [101]:
# items()->returns the list of tuples
abc = {
    'name':'Rahul',
    'age':34,
    'color':['black','white','grey'],
    'city': 'New York',
    'country': 'USA'
}
abc
abc1 =abc
print(abc1)

{'name': 'Rahul', 'age': 34, 'color': ['black', 'white', 'grey'], 'city': 'New York', 'country': 'USA'}

In [102]:
abc.items()

dict_items([('name', 'Rahul'), ('age', 34), ('color', ['black', 'white', 'grey']), ('city', 'New York'), ('country', 'USA')])

In [103]:
#userInput
#input ->By default takes everyhing as a string value
a = int(input("Enter a number"))
b = int(input("Enter another number"))
print(a + b)

Enter a number2
Enter another number3
5

<h2>Python Conditions</h2>

Conditions allow us to make decisions based on the values of variables

In [104]:
a = 33
b = 50
c = 1

if a < b and a < c :
    print("a is smaller")
    
elif a == b and b == c:
    print("a ,b and c are equal")

elif b<a and b<c:
    print("b is smaller")
    
elif c <a and c < b:
    print("c is smaller")

else:
    print("c is smaller")
    
# print("Result found")
# print(f"a is {a}")

c is smaller

<h2>Python Loops</h2>
excutes a block of code repeatedly

automate repetitive task

while loop-> used when the no. of iteration are not known

for loop-> used when the no. of iteration are known

In [105]:
i = 1
while i<11:
    print(i)
    if i == 5:
        print("5 Found")
        break
    i = i + 1

print("Outside while")

1
2
3
4
5
5 Found
Outside while

In [106]:
i = 1
while i < 20:
    print(f"5 * {i} = {i *5}")
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95

In [107]:
num  = "1"
while True:
    user = input("Enter a character and 1 to stop")
    if num in user :
        print("1 found.Exit")
        break
    else:
        print("Keyword not found")

Enter a character and 1 to stop6
Keyword not found
Enter a character and 1 to stop5
Keyword not found
Enter a character and 1 to stop1
1 found.Exit

In [108]:
#for loop

li = (10,20,30,40,50)
for abc in li:
    print(abc)

10
20
30
40
50

In [109]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [110]:
# H e l l o
# 0 1 2 3 4

for abc in "Helloabcbhdv":
    print(abc)

H
e
l
l
o
a
b
c
b
h
d
v

In [111]:
#range(start , end +1 ,step)
for i in range(1,11,3):
    print(i)

1
4
7
10

In [112]:
li =[1,2,3,4,5,6,7,8]
for i in li:
    print(i)
    if i == 4:
        print("4 found")
        break

1
2
3
4
4 found

In [113]:
for i in "watermelon":
    print(i)
    if 'e' == i:
        print("e is present")
        break

w
a
t
e
e is present

In [114]:
for i in "watermelon":
    if 'e' == i:
        print("hello",23+67)
        continue

    print(i,"Hello")

w Hello
a Hello
t Hello
hello 90
r Hello
m Hello
hello 90
l Hello
o Hello
n Hello

<h2>Functions</h2>

definion of a function is executed when we call a function

In [116]:
def myFun():
    a = 10
    b = 20
    print("The ans is ",a +b)

In [117]:
myFun()#Calling a function

The ans is  30

In [118]:
def myFun(a,b):
    print("The ans is ",a +b)

myFun(30,50)
myFun(10,5)
myFun(1,5)

The ans is  80
The ans is  15
The ans is  6

In [119]:
#Parameterized function
def sum(a,b):#parameters
    s = a +b
    print(s)
    
a =10
b =20
sum(a,b)

30

In [120]:
def sum(a,b):#parameters
    s = a +b
    print(s)
a =20
b =50
# sum()
sum(a,b)

70

In [121]:
def sum(a,b):#parameters
    s = a + b
    print(s)

sum(10,20)

30

In [122]:
#returns -> returns the value to the calling function
def salary(a,b):#parameters
    sal = a+b
    print(sal)
    return sal

val = salary(10,20)
print("The returned value is ",val+20)

30
The returned value is  50

In [123]:
def sum(a,b):#parameters
    s = a + b
    print(s)

val1 = sum(10,20)
print("The returned ",val1)

30
The returned  None

### File Handling

***Learn How to read from and write to text file using python

##What is file handling?

#File handling means:
Creating files,
Reading data from files,
Writing data to files,
Appending & managing files.

Used for:

Logs,
Reports,
Datasets,
Saving results/models,

In [6]:
#Basic Syntax
#create file 
file = open("test.txt", "x")

FileExistsError: [Errno 17] File exists: 'test.txt'

In [7]:
#Write on the created file
with open("test.txt", "w") as f:
    f.write("Python File Handling\n")
    f.write("This is importantfile\n")

In [8]:
#Read from the file
with open("test.txt", "r") as f:
    content = f.read()
    print(content)

Python File Handling
This is importantfile

In [9]:
#Read line by line
with open("test.txt", "r") as f:
    for line in f:
        print(line.strip())

Python File Handling
This is importantfile

In [10]:
#Read lines as list
with open("test.txt", "r") as f:
    lines = f.readlines()
    print(lines)

['Python File Handling\n', 'This is importantfile\n']

In [11]:
#Appending to a file
with open("test.txt", "a") as f:
    f.write("New line added\n")

### Handling errors (IMPORTANT)

In [18]:
try:
    with open("test.txt", "r") as f:
        print(f.read())
except FileNotFoundError:
    print("File not found")

Python File Handling
This is importantfile
New line added

### Calculator using functions

In [31]:
x = float(input("Enter the value of x "))
y = float(input("Enter the value y "))
def addition(x, y):
    return x+y
def subtract(x, y):
    return x-y
def multiplication(x, y):
    return x*y
def divide(x,y):
    if y==0:
        print("Division by 0 is not possible")
    else:
        return x/y

print(f"Sum of two number", addition(x,y))
print(f"The difference between two number is", subtract(x,y))
print(f"The Multiplication of two numbers is ",multiplication(x, y))
print(f"Divide of two numbers is", divide(x,y))

Enter the value of x 5
Enter the value y 6
Sum of two number 11.0
The difference between two number is -1.0
The Multiplication of two numbers is  30.0
Divide of two numbers is 0.8333333333333334

### Task

### Add Contact Function

In [32]:
def add_contact():
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    email = input("Enter email: ")

    with open("contacts.txt", "a") as file:
        file.write(f"{name},{phone},{email}\n")

    print(" Contact added successfully")

In [33]:
add_contact()

Enter name: Munna Kumar
Enter phone: 8970890786
Enter email: munna@gmail.com
 Contact added successfully

### View Contacts

In [34]:
def view_contacts():
    try:
        with open("contacts.txt", "r") as file:
            print("\n--- Contact List ---")
            for line in file:
                name, phone, email = line.strip().split(",")
                print(f"Name: {name}, Phone: {phone}, Email: {email}")
    except FileNotFoundError:
        print(" No contacts found")

In [35]:
view_contacts()

--- Contact List ---
Name: Munna Kumar, Phone: 8970890786, Email: munna@gmail.com

### Search contacts by name

In [36]:
def search_contact():
    search_name = input("Enter name to search: ").lower()
    found = False

    try:
        with open("contacts.txt", "r") as file:
            for line in file:
                name, phone, email = line.strip().split(",")
                if search_name in name.lower():
                    print(f" Found  Name: {name}, Phone: {phone}, Email: {email}")
                    found = True

        if not found:
            print(" Contact not found")

    except FileNotFoundError:
        print(" Contact file not found")

In [37]:
def main():
    while True:
        print("\n Contact Book")
        print("1. Add Contact")
        print("2. View Contacts")
        print("3. Search Contact")
        print("4. Exit")

        choice = input("Choose an option (1-4): ")

        if choice == "1":
            add_contact()
        elif choice == "2":
            view_contacts()
        elif choice == "3":
            search_contact()
        elif choice == "4":
            print(" Exiting Contact Book")
            break
        else:
            print(" Invalid choice")

In [38]:
main()

 Contact Book
1. Add Contact
2. View Contacts
3. Search Contact
4. Exit
Choose an option (1-4): 1
Enter name: munna
Enter phone: 7860492971
Enter email: munna@gmail.com
 Contact added successfully

 Contact Book
1. Add Contact
2. View Contacts
3. Search Contact
4. Exit
Choose an option (1-4): 4
 Exiting Contact Book